:root {
  --azul-oscuro: #033859;
  --azul: #13dcf2;
  --verde-aqua: #11d9a0;
  --amarillo: #f2c335;
  --blanco-hueso: #f2f2f2;
  --rojo: #de3e0b;
}

@font-face {
  font-family: 'gg-sans-semibold';
  src: url('../../assets/gg-sans/gg-sans-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'gg-sans-regular';
  src: url('../../assets/gg-sans/gg-sans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.contenido-material {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  font-family: 'gg-sans-regular', monospace;
}

.contenido-material .group-contenido {
  width: 70%;
  margin-right: 45px;
  border-radius: 15px;
}

.group-contenido .layer {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #d9d9d9;
  overflow: hidden; /* Asegúrate de que los bordes redondeados se apliquen */
  border-top-left-radius: 15px; /* Borde redondeado */
  border-top-right-radius: 15px; /* Borde redondeado */
}

.layer .lecturas {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 50%;
  height: 50px;
  background-color: #f6f6f6;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.layer .lecturas h2 {
  margin-left: 15px;
}

.layer .ejercicios {
  display: flex;
  align-items: center;
  padding: 101x;
  align-items: center;
  width: 50%;
  height: 50px;
  background-color: #d9d9d9;
  border-top-right-radius: 15px; /* Borde superior izquierdo redondeado */
}

.layer .ejercicios h2 {
  margin-left: 15px;
}

.group-contenido .buscar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.buscar label {
  font-family: 'gg-sans-semibold', monospace;
  color: var(--azul-oscuro);
  font-size: 18px;
}

.buscar input {
  width: 350px;
  height: 40px;
  border-radius: 14px;
  border: 0px;
  background-color: #f2f4f7;
  color: var(--azul-oscuro);
  padding: 15px;
  margin: 20px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
}

.buscar input:focus {
  border: 1px solid #d3d3d3;
  outline: none;
}

.buscar button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--verde-aqua);
  color: var(--azul-oscuro);
  cursor: pointer;
  border: none;
  border-radius: 15px;
  padding: 5px;
  width: 118px;
  height: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contenido-material .ruta-aprendizaje {
  align-self: flex-start;
  width: 50%;
  margin: 30px 30px 0px 30px;
}

.group-contenido {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  min-height: 85vh;
  padding-bottom: 2rem;
  margin-top: 30px;
  color: var(--azul-oscuro);
}

.group-contenido .items {
  margin-top: 20px;
  margin-bottom: 20;
  text-align: justify;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  width: 95%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 20px;
}

.group-contenido .items h3 {
  font-family: 'gg-sans-semibold', monospace;
  color: var(--azul-oscuro);
}

.group-contenido .items .btn-options {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.group-contenido .items .btn-options .btn-detalles {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-color: var(--azul-oscuro);
  color: #ffffff;
  cursor: pointer;
}

.group-contenido .items .btn-options .btn-editar {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 10px;
  background-color: var(--azul);
  color: #ffffff;
  cursor: pointer;
}
.group-contenido .items .btn-options .btn-editar span {
  margin-left: 10px;
}

.group-contenido .items button {
  width: 100px;
  padding: 3px;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.items .item-contenido-fecha {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.items .item-contenido-fecha label {
  margin: 0;
}

.items .item-contenido {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  word-break: break-word;
  overflow-wrap: break-word;
}

.ruta-aprendizaje {
  display: flex;
  flex-direction: column;
}

.ruta-aprendizaje .tema {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f6f6f6;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  width: 450px;
  height: fit-content;
}

.ruta-aprendizaje .tema-contenido {
  width: 75%;
}

.ruta-aprendizaje .tema.selected {
  background-color: #cae6e8;
}

.ruta-aprendizaje img {
  width: 65px;
  height: 60px;
}

.ruta-aprendizaje .competencias {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-bottom: 10px;
}

.ruta-aprendizaje .competencias h2 {
  font-size: 25px;
}

.agregar-contenido button {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: var(--azul-oscuro);
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  margin-left: 15px;
}

.agregar-contenido button span {
  margin-left: 10px;
}
