header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(90deg, rgba(45,184,189,1) 11%, rgba(19,220,242,1) 89%);
  color: #F2F2F2;
}