:root {
  --ck-border-radius: 5px;
  --azul-oscuro: #033859;
  --azul: #13dcf2;
  --verde-aqua: #11d9a0;
  --amarillo: #f2c335;
  --blanco-hueso: #f2f2f2;
  --rojo: #de3e0b;
}

@font-face {
  font-family: 'gg-sans-semibold';
  src: url('../../assets/gg-sans/gg-sans-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'gg-sans-regular';
  src: url('../../assets/gg-sans/gg-sans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.contentManagementEdit {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  font-family: 'gg-sans-regular', monospace;
  background-color: #f6f6f6;
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  min-height: 83.5vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

.contentManagementEdit h1 {
  font-family: 'gg-sans-semibold', monospace;
  text-align: center;
  color: #000000;
  font-size: 20px;
  margin-top: 20px;
}

.items-form-material form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.options {
  width: 100%;
  display: flex;
  align-self: flex-start;
  justify-content: flex-end;
  margin-right: 30px;
  margin-top: 10px;
}

.options .option-btn {
  background-color: var(--azul-oscuro);
  color: #ffffff;
  cursor: pointer;
}

.options .option-guardar {
  background-color: var(--azul);
  color: #ffffff;
  cursor: pointer;
}

.options button {
  margin-left: 10px;
  width: 100px;
  padding: 3px;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.options button span {
  margin-left: 5px;
}

.items-form-material {
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;
}

form .items {
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  margin: 20px;
}

form .items label {
  font-family: 'gg-sans-semibold', monospace;
  color: #000000;
}

form .items-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
}

form .items-form-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form .items-form-vertical input {
  all: unset;
  width: 300px;
  height: 100%;
  padding: 5px;
  margin: 5px;
}

form .items-form-vertical .buscar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 30px;
  border: 1px solid #d3d3d3;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background-color: var(--blanco-hueso);
}

form .items-form-vertical .lbl-buscar {
  margin-left: 5px;
}

form .items-form input {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  background-color: var(--blanco-hueso);
  color: var(--azul-oscuro);
  padding: 5px;
  margin: 20px;
}

form .items-form textarea {
  width: 200px;
  height: 75px;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  background-color: var(--blanco-hueso);
  color: var(--azul-oscuro);
  padding: 5px;
  margin-left: 35px;
}

form .items-form .lbl-area {
  width: 118px;
}

.contenido {
  max-width: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

.contenido label {
  font-family: 'gg-sans-semibold', monospace;
  color: #000000;
  margin-bottom: 10px;
}

.ejercicio-vinculado {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  border-radius: 20px;
  width: 280px;
  border: 1px solid #d3d3d3;
  margin: 5px;
  background-color: var(--blanco-hueso);
  padding: 2px;
}

form .items-form-vertical input:is(:focus, :hover) {
  border: none;
  outline: none;
}

.ejercicio-vinculado button {
  border: none;
  display: flex;
  margin-top: 2px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.reach-text {
  border-radius: 10px;
}
.ck-rounded-corners .ck.ck-toolbar,
.ck.ck-toolbar.ck-rounded-corners {
  border-radius: var(--ck-border-radius);
}

.ck-editor__editable_inline {
  background-color: var(
    --blanco-hueso
  ) !important; /* Cambia el color de fondo según sea necesario */
  height: 263px;
  border-bottom: none !important;
  color: var(
    --azul-oscuro
  ) !important; /* Cambia el color del texto según sea necesario */
}

.ck-toolbar {
  background-color: var(
    --blanco-hueso
  ) !important; /* Cambia el color de fondo según sea necesario */
}

#mensajeAdministrador {
  resize: none;
}

form .items {
  flex-direction: column;
}

@media screen and (min-width: 1080px) {
  form .items {
    flex-direction: row;
    align-self: unset;
  }
}
